:root {
  --white: #c6c3d1;
  --white-light: #e8e5f3;
  --black: #2d2b36;
  --white-alfa: #c6c3d1a9;
  --black-alfa-1: #2d2b36cb;
  --black-alfa-2: #2d2b3660;
  --font-family: system-ui, Arial, "Segoe-UI", sans-serif;
  --font-size: calc(24px / 1.618);
  --box-shadow-1: 0 0 32px -8px var(--black);
  --border-1: 1px solid var(--white-alfa);
  --border-2: 2px solid var(--white-light);
  --border-radius-1: min(32px, 4vw);
  --border-radius-2: min(16px, 2vw);
  --transition-1: background-color 0.2s linear 0s, color 0.2s linear 0.2s;
  --transition-2: width 0.3s linear 0s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

html,
body {
  min-height: 100vh;
}

body {
  padding: min(16px, 5vw);
  background: linear-gradient(to bottom, var(--white) 50%, var(--black) 150%);
  display: flex;
  align-items: stretch;
  gap: min(16px, 5vw);
}

/* * Estilos comunes */

body > main > form,
textarea {
  height: 100%;
}

body > header,
textarea {
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-1);
  padding: 16px 16px 0;
}

/* * Estilos del header */

body > header {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 16px;

  position: relative;

  min-height: 100%;
  width: 128px;

  background-color: var(--black);
  border: var(--border-2);
  transition: var(--transition-2);
}

body > header.hidden {
  width: 32px;
  padding: 8px 0 0;
}

body > header.hidden > button:not(#showHideMenu) {
  position: relative;
  border: none;
  border-radius: 0;
  color: transparent;

  background-size: 80% 80%;
  background-position: center;

  opacity: 0;
  animation: fade-in 0.3s linear 0.5s forwards;
}

body > header.hidden > button:not(#showHideMenu):hover {
  outline: 2px solid var(--white-light);
}

body > header.hidden > button:first-child {
  background: url("../assets/images/donwload.svg") no-repeat;
}

body > header > button {
  background: none;
  border: var(--border-2);
  border-radius: var(--border-radius-2);
  color: var(--white-light);

  overflow: hidden;
  text-overflow: ellipsis;

  padding: 16px 8px;
  transition: var(--transition-1);
}

button:hover {
  background-color: var(--white);
  color: var(--black);
}
button:active {
  background-color: transparent;
  color: var(--white);
}

#showHideMenu {
  position: absolute;
  left: -16px;
  bottom: 0;

  border: none;
  border-top: 2px solid var(--white-light);
  border-radius: 0px;

  width: calc(100% + 32px);
  padding: 4px 4px 8px;
}

/* * Estilos del main */

body > main {
  flex-grow: 1;
}

textarea {
  width: 100%;
  height: 100%;

  background: none;
  color: var(--black);
  border: var(--border-1);

  resize: none;

  transition: var(--transition-1);
}

textarea:focus {
  outline: none;
  color: var(--white-light);
  background-color: var(--black-alfa-2);
}

/** Animaciones */

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
